<div id="guide_nav_wrapper" class="side_nav">
        
                <div class="nav_close"><btn>Close</btn></div>
                <div class="guide_nav" id="guide_nav">
                    <div class="guide_heading-wrapper">
                        <a href={{"pages-landing/sab.html" | relative_url }}><h3>Guide to starting a business</h3></a>
                    </div>
                        <div class="guide_menu_wrapper">
                        <ul>
                            <li class="sub-landing-link"><a href={{"pages-landing/sab-check-if-youre-ready.html" | relative_url }}>Check if you&#39;re ready</a><btn class="sub-menu-toggle">Open</btn></li>   
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Preparing-yourself-for-business.html" | relative_url }}>Preparing yourself for business</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Difference-between-a-business-and-a-hobby.html" | relative_url }}>Difference between a business and a hobby</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-landing-link"><a href={{"pages-landing/sab-find-out-what-you-need.html" | relative_url }}>Find out what you need</a><btn class="sub-menu-toggle">Open</btn></li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/How-to-manage-your-suppliers.html" | relative_url }}>How to manage your suppliers</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Register-your-business-the-right-way.html" | relative_url }}>Register your business the right way</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Hiring-employees.html" | relative_url }}>Hiring employees</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-landing-link"><a href={{"pages-landing/sab-get-advice-and-support.html" | relative_url }}>Get advice and support</a><btn class="sub-menu-toggle">Open</btn></li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Find-help-and-support.html" | relative_url }}>Find help and support</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Help-for-your-business.html" | relative_url }}>Help for your business</a><span class="optional">Optional</span></li>
                            </ul>
                            
        
                            <li class="sub-landing-link"><a href={{"pages-landing/sab-contractors-and-contracts.html" | relative_url }}>Contractors and contracts</a><btn class="sub-menu-toggle">Open</btn></li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Types-of-contracts.html" | relative_url }}>Types of contracts</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Employee-or-contractor.html" | relative_url }} | relative_url }}>Employee or contractor</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-landing-link"><a href={{"pages-landing/sab-register-your-business.html" | relative_url }}>Register your business</a><btn class="sub-menu-toggle">Open</btn></li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Register-for-an-Australian-business-number.html" | relative_url }}>Register for an Australian business number (ABN)</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/How-to-develop-your-business-plan.html" | relative_url }}>How to develop your business plan</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Business-structures.html" | relative_url }}>Business structures</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Taxation-for-your-business.html" | relative_url }}>Taxation for your business</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Record-keeping.html" | relative_url }}>Record keeping</a><span class="required">Required</span></li>
                            </ul>
                            
                            
                            <li class="sub-landing-link"><a href={{"pages-landing/sab-establishing-your-business.html" | relative_url }}>Establishing your business</a><btn class="sub-menu-toggle">Open</btn></li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Selling-manufacturing-and-sourcing-products.html" | relative_url }}>Selling, manufacturing and sourcing products</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Choose-your-business-location.html" | relative_url }}>Choose your business location</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Business-insurance.html" | relative_url }}>Business insurance</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Finance-for-your-business.html" | relative_url }}>Finance for your business</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/How-to-recruit-and-induct-new-employees.html" | relative_url }} | relative_url }}>How to recruit and induct new employees</a><span class="optional">Optional</span></li>
                            </ul>

                        </ul>
                            
                        <div class="switch_guides">
                            <a href="">View other guides that this page belongs to.</a>
                            </div>
                        </div>
                    </div>
                </div>
